.gallery{
  width: 1000px;
  height: 590px;
  clear: both;
  margin: auto;
  padding-top: 12px;
  margin-bottom: 40px;
}
.gallery .picview{
  width: 230px;
  height: 200px;
  float: left;
  margin: 10px;

}
