.gallery{
  width: 1000px;
  height: 590px;
  clear: both;
  margin: auto;
  padding-top: 12px;

}
.gallery .picview{
  width: 230px;
  height: 200px;
  float: left;
  margin: 10px;
}
.load-more{
  font-size: 14px;
    text-align: center;
    padding: 10px;
}
.load-more a{
  text-decoration: none;
  color: #8C8C8C;
  font-weight: bold;
}
