.content-restaurant{
  width: 1000px;
  margin: auto;

}
.res-left{
  width: 670px;
  float: left;
  margin-bottom: 100px;
  margin-right: 30px;
}
.res-left a{
  text-decoration: none;
}
.res-right{
  width: 300px;
  float: right;
  margin-bottom: 20px;
}
.table-reserve{
  width: 300px;
  font-size: 18px;
  border: 1px solid;
}
.table-reserve input, select{
  margin-left: 20px;
  width: 250px;
  height: 35px;
  margin-top: 10px;
}
.table-reserve button{
background-color: #990000;
margin: 20px 0px 5px 20px;
}
.table-reserve button:hover{

  background-color: #D60800;
}

.res-news img{
  width: 300px;
}
.back{
  clear: both;
  float: right;
  margin-right: 40px;
}
.res-hr{
  width: 600px;
}
.resort-add{
  width: 320px;
  float: left;
  margin-bottom: 20px;
}
.garden{
  width: 1000px;
  clear: both;
  margin: auto;
  text-align: center;
}
.garden-content{
  width: 450px;
  float: left;
  margin-right: 50px;
}
.garden-content img{
  width: 400px;
}
