body {
  width: 1200px;
  height: 150px;
}

#main{
  background-image: url("Btnhom/Walt.png");
  width: auto;
  height: auto;
}

.tickets {
  width: 500px;
  height: 800px;
  font-family: sans-serif;
  font-size: 18px;
  float: right;
  text-align: center;
  margin-left: 1000px;
  padding-left: 50px;
}

#quantity {
  text-align: center;
}

.card {
  margin-top: 50px;
}

.text-ticket {
  position: absolute;
  width: 600px;
  height: 1200px;
  margin-left: 80px;
}

.haha {
  float: right;
}

.hihi{
  float: right;
  margin-right: 80px;
}

ul.abc{
  list-style-type: square;
}

#add{
  background-color: red;
  width: 200px;
  height: 50px;
  color: #FFFFFF;
}
